@import "variables";
@import "grillas";
@import "tipografias";


h1 {
    color: red;
}

h5 {
    color: green;

}
h3{ 
    color: $color-titulos;
}
table{
    background-color: aqua;
}
button {
    font-size:  5px;
}
ul {
    list-style: none;
        li {
            padding: 15px;
            display: inline-block;
        }
                a {
                    text-decoration: none;
                    font-size: 16px;
                    color: #444;
                    &:hover {
                        background-color:yellow ;
                    }
                }
            }
        